/* Variables */
:root {
    --color-principal: #15120E; 
    --color-secundario: #ffaf02; 
    --color-terciario: #ED6118; 
}

/* Header  */
.headerText{
    font-family: "Kanit", sans-serif;
    font-style: normal;
    margin-left: 6px;
    display: flex;
    align-items: center;
}
.navbar{
    padding: 0;
}
#barraMenu{
    background-color: var(--color-principal);
}
#barraMenu a{
    color: white;
}
#barraMenu ul{
    color: white;
}

#menuToggle{
    background-color: var(--color-secundario);
}
.menu{
    font-weight: 500;
    margin-left: auto;
}
.linksMenu:hover{
    text-decoration: underline;
}

/* Main */
.row{
    justify-content: center;
}
.card-title{
    padding-top: 10px;
    padding-bottom: 6px;
}
.containerDefault{
    margin-bottom: 50px;
}
/* Main Inicio */
.contenedorPrincipal{
    height: 86vh;
    background-image: url("./img/fondo.png");
    background-position-x: center;
    background-size: cover;
    background-size: 100% 100%;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    display: grid;
}

.contenedorSecundario{
    color: white;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.53); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.contenedorFoto{
    width: 50%;
    margin-right: 20px;
}
.contenedorFoto img{
    width: 100%;
}
.contenedorTexto{
    margin-left: 20px;
    /* width: 50%; */
    font-size: 1.2rem;
}
.contenedorTexto p a{
    text-decoration: none;
    color: #099ddc;
}
.contenedorTexto p a:hover{
    text-decoration: underline;
}

/* Main Integrantes */

.contenedorIntegrantesPrincipal{
    height: 86vh;
    background-image: url("./img/fondo.png");
    background-position-x: center;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorIntegrantesSecundario{
    color: white;
    width: 70%;
    height: 80%;
    background: rgba(0, 0, 0, 0.53); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenIntegrantes{
    background-image: url("./img/imagenInicio.jpg");
    background-position-x: center;
    height: 25vh;
    background-size: cover;
}

#botonIntegrantes{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    margin-top: 15px;
    color: black;
}
#botonIntegrantes:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
}

/* Main Avances */
.containerAvances{
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}
.imagenAvances{
    background-image: url("./img/imagenInicio.jpg");
    background-position-x: center;
    height: 25vh;
    background-size: cover;
}
#botonAvances{
    background-color: var(--color-principal);
    border-color: var(--color-secundario);
    width: 125px;
    margin-bottom: 20px;
}
#botonAvances:hover{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
}

/* Main Juegos */
.containerJuegos{
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}
#botonJuegos{
    background-color: var(--color-principal);
    border-color: var(--color-secundario);
    width: 125px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#botonJuegos:hover{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
}
.textJuegos{
    font-size: 1.04rem;
}

/* Footer */

.footer{
    background-color: var(--color-principal);
}

/* Media Queries */
@media screen and (max-width: 1024px){
    .contenedorSecundario{
        width: 80%;
    }
    .contenedorIntegrantesSecundario{
        color: white;
        width: 80%;
        height: 70%;
    }
}
@media screen and (max-width: 900px){
    .contenedorSecundario{
        width: 80%;
    }
    .contenedorIntegrantesSecundario{
        color: white;
        width: 90%;
        height: 70%;
        padding: 5px;
    }
}
@media screen and (max-width: 730px){
    #navbarNav{
        margin-left: 10px;
    }
    #botonIntegrantes{
        width: 100%;   
    }
    .contenedorSecundario{
        flex-direction: column;
        height: 60%;
    }
    .contenedorFoto{
        max-width: 350px;
        width: 80%;
        margin: auto;
    }
    .contenedorIntegrantesPrincipal{
        height: auto;
        padding: 20px;
    }
    .contenedorIntegrantesSecundario{
        height: auto;
        width: auto;
    }
}
@media screen and (max-width: 425px){
    .contenedorSecundario{
        width: 90%;
        padding: 10px;
    }
}