/* Variables */
:root {
    --color-principal: #15120E; 
    --color-secundario: #ffaf02; 
    --color-terciario: #FF8B02; 
}

/* Header  */
.headerText{
    font-family: "Kanit", sans-serif;
    font-style: normal;
    margin-left: 6px;
    display: flex;
    align-items: center;
}
.navbar{
    padding: 0;
}
#barraMenu{
    background-color: var(--color-principal);
}
#barraMenu a{
    color: white;
}
#barraMenu ul{
    color: white;
}

#menuToggle{
    background-color: var(--color-secundario);
}
.menu{
    font-weight: 500;
    margin-left: auto;
}
.linksMenu:hover{
    text-decoration: underline;
}

/* Main */
.row{
    justify-content: center;
}
.card-title{
    padding-top: 10px;
    padding-bottom: 6px;
}
.containerDefault{
    margin-bottom: 50px;
}
/* Main Inicio */
.contenedorPrincipal{
    height: 86vh;
    background-image: url("./img/fondo.png");
    background-position-x: center;
    background-size: cover;
    background-size: 100% 100%;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    display: grid;
}

.contenedorSecundario{
    color: white;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.53); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.contenedorFoto{
    width: 50%;
    margin-right: 20px;
}
.contenedorFoto img{
    width: 100%;
}
.contenedorTexto{
    margin-left: 20px;
    font-size: 1.2rem;
}
.contenedorTexto p a{
    text-decoration: none;
    color: #099ddc;
}
.contenedorTexto p a:hover{
    text-decoration: underline;
}

/* Main Integrantes */

.contenedorIntegrantesPrincipal{
    height: 86vh;
    background-image: url("./img/fondo.png");
    background-position-x: center;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorIntegrantesSecundario{
    color: white;
    width: 70%;
    height: 80%;
    background: rgba(0, 0, 0, 0.53); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenIntegrantes{
    background-image: url("./img/imagenInicio.jpg");
    background-position-x: center;
    height: 25vh;
    background-size: cover;
}

#botonIntegrantesDiego{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    margin-top: 15px;
    color: black;
}
#botonIntegrantesDiego:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
#botonIntegrantesCamila{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    margin-top: 15px;
    color: black;
}
#botonIntegrantesCamila:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
#botonIntegrantesIan{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    margin-top: 15px;
    color: black;
}
#botonIntegrantesIan:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}

/* Main Avances */

.contenedorAvancesPrincipal{
    height: auto;
    padding: 20px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorAvancesSecundario{
    color: white;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.53); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAvances{
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}
.imagenAvances{
    background-position-x: center;
    height: 90%;
    width: auto;
    background-size: cover;
    border-radius: 5%;
    margin-bottom: 10px;
}
#botonAvances1{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    width: 125px;
    color: black;
}
#botonAvances1:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
#botonAvances2{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    width: 125px;
    color: black;
}
#botonAvances2:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
#logoAvances{
    width: 450px;
    height: 400px;
}
.paletaImagenes{
    width: 10%;
    margin: 0 10px;
}

/* Main Juegos */
.contenedorJuegosPrincipal{
    height: auto;
    background-image: url("./img/fondo.png");
    background-position-x: center;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contenedorJuegosSecundario{
    color: white;
    width: 70%;
    height: 80%;
    background: rgba(0, 0, 0, 0.53); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerJuegos{
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}
#botonJuegos1{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    color: black;
    width: 125px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#botonJuegos1:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
#botonJuegos2{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    color: black;
    width: 125px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#botonJuegos2:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
#botonJuegos3{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    color: black;
    width: 125px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#botonJuegos3:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
.textJuegos{
    font-size: 1.04rem;
}

#divContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#rowContacto{
    width: 30%;
}

#saveUsername{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    color: black;
    width: 125px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#saveUsername:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}
#btnContacto{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    color: black;
}
#btnContacto:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}

.rowTabla{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

table tr td, table tr th{
    background-color: rgba(21, 18, 14, 0.96) !important;
}

/* Footer */


.footer{
    background-color: var(--color-principal);
}

/* Media Queries */
@media screen and (max-width: 1024px){
    .contenedorSecundario{
        width: 60%;
    }
    .contenedorIntegrantesSecundario{
        color: white;
        width: 80%;
        height: 70%;
    }
    .contenedorJuegosSecundario{
        width: 90%;
        height: 90%;
    }
    .imagenAvances{
        height: auto;
        width: 100%;
    }
    #logoAvances{
        width: 50%;
        height: 50%;
    }
    .paletaImagenes{
        width: 15%;
    }
    #rowContacto{
        width: 50%;
    }
}
@media screen and (max-width: 900px){
    #navbarNav{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .contenedorPrincipal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedorSecundario{
        width: 80%;
        margin-left: 0;
    }
    .contenedorIntegrantesSecundario{
        color: white;
        width: 90%;
        height: 70%;
        padding: 5px;
    }
    .contenedorJuegosPrincipal{
        height: auto;
        width: auto;
        padding: 10px;
    }
    .contenedorJuegosSecundario{
        height: 90%;
        padding: 10px;
    }
    #divPaletaImagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }
    .paletaImagenes{
        margin: 5px 0;
        width: 100px;
        /* height: ; */
    }
    .rowTabla{
        width: 100%;
    }
}
@media screen and (max-width: 760px){
    .imagenAvances{
        height: auto;
        width: 100%;
    }
    #logoAvances{
        width: 60%;
        height: 60%;
    }
    #divPublicoObjetivo{
        display: flex;
        flex-direction: column-reverse;
    }
    .contenedorIntegrantesPrincipal{
        background-color: var(--color-secundario);
        background-image: none;
    }
    .contenedorJuegosPrincipal{
        background-color: var(--color-secundario);
        background-image: none;
    }
    #rowContacto{
        width: 60%;
    }
}

@media screen and (max-width: 730px){
    #botonIntegrantesDiego{
        width: 100%;   
    }
    #botonIntegrantesCamila{
        width: 100%;   
    }
    #botonIntegrantesIan{
        width: 100%;   
    }
    .contenedorSecundario{
        flex-direction: column;
        height: 60%;
    }
    .contenedorFoto{
        max-width: 350px;
        width: 80%;
        margin: auto;
    }
    .contenedorIntegrantesPrincipal, .contenedorJuegosPrincipal{
        height: auto;
        padding: 20px;
    }
    .contenedorIntegrantesSecundario, .contenedorJuegosSecundario{
        height: auto;
        width: auto;
    }
    .contenedorJuegosSecundario{
        padding: 0;
    }
}
@media screen and (max-width: 425px){
    .contenedorSecundario{
        width: 90%;
        padding: 10px;
    }
    .contenedorAvancesSecundario{
        padding: 0px;
    }
    #logoAvances{
        width: 100%;
        height: 100%;
    }
    #rowContacto{
        width: 100%;
    }
}