/* Header  */
.headerText{
    font-family: "Kanit", sans-serif;
        font-style: normal;
}
.linksMenu:hover{
    text-decoration: underline;
}
.headerText{
    margin-left: 6px;
}

.menu{
    margin-left: auto;
}

/* Main */
.row{
    justify-content: center;
}
.card-title{
    padding-top: 10px;
    padding-bottom: 6px;
}

/* Main Inicio */
.contenedorPrincipal{
    height: 86vh;
    background-image: url("./img/imagenInicio.jpg");
    background-position-x: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorSecundario{
    color: white;
    width: 60%;
    height: 50%;
    /* margin: 30px; */
    background: rgba(227, 118, 16, 0.9); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorFoto{
    width: 40%;
    margin-right: 40px;
}
.contenedorFoto img{
    width: 100%;
}
.contenedorTexto{
    font-size: 1.2rem;
}
.contenedorTexto p a{
    text-decoration: none;
    color: #099ddc;
}
.contenedorTexto p a:hover{
    text-decoration: underline;
}

/* Main Integrantes */
.integrantesContainer{
    margin-bottom: 50px;
}

#botonIntegrantes{
    background-color: #ED8618;
    border-color: #ED6118;
    margin-top: 30px;
}
#botonIntegrantes:hover{
    background-color: #ED6118;
    border-color: #ED6118;
}

/* Footer */

.footer{
    background-color: #ED8618
}

/* Media Queries */
@media screen and (max-width: 1440px){
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 720px){
    #botonIntegrantes{
        width: 100%;   
    }
}
@media screen and (max-width: 500px){

}
@media screen and (max-width: 360px){

}