/* Variables */
:root {
    --color-principal: #15120E; 
    --color-secundario: #ffaf02; 
    --color-terciario: #FF8B02; 
}

/* Header  */
.headerText{
    font-family: "Kanit", sans-serif;
    font-style: normal;
    margin-left: 6px;
    display: flex;
    align-items: center;
}
.navbar{
    padding: 0;
}
#barraMenu{
    background-color: var(--color-principal);
}
#barraMenu a{
    color: white;
}
#barraMenu ul{
    color: white;
}

#menuToggle{
    background-color: var(--color-secundario);
}
.menu{
    font-weight: 500;
    margin-left: auto;
}
.linksMenu:hover{
    text-decoration: underline;
}

/* Main */
.row{
    justify-content: center;
}

/* Main Inicio */
.contenedorPrincipal{
    height: 110vh;
    background-image: url("../img/fondo.png");
    background-position-x: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorSecundario{
    color: white;
    width: 60%;
    height: 90%;
    background: rgba(0, 0, 0, 0.53); 
    padding: 20px;
    display: flex;

    align-items: center;
    flex-direction: column;
}
#contenedorPrincipal{
    height: 90vh;


}

.contenedorTexto{
    margin-left: 20px;
    font-size: 1.2rem;

}
.contenedorTexto p a{
    text-decoration: none;
    color: #099ddc;
}
.contenedorTexto p a:hover{
    text-decoration: underline;
}
#linkJuego{
    color: white;
}
#linkJuego:hover{
    color: rgb(225, 225, 225);
    text-decoration: underline;
}

#botonJuegos{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 4rem;
    margin-right: 10px;
    font-size: 1.5rem;
    padding: 10px 20px;
    color: black;

}
#botonJuegos:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}

/* Estilos específicos para el modal */
.modal-content {
    background-color: var(--color-principal); 
    color: black; 
}

.modal-title {
    color: black; 
}

.modal-body {
    color: black;
}


/* Mensajes emergentes */
#btnContacto, #reiniciar{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    color: black;
}
#btnContacto:hover, #reiniciar:hover{
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
    text-decoration: underline;
}

/* Footer */

.footer{
    background-color: var(--color-principal);
}

#imagenAhorcado{
    width: 200px;
}
#imageToGuess{
    width: 150px; /* Puedes ajustar el tamaño según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
}
.imageToGuessContainer {
    margin-right: 7rem;
  }

.contenedorSecundario {
    margin-bottom: 20px;
  }

  .contenedorJuego {
    /* Aplica las; propiedades flexbox a la clase contenedorJuego */
    display: flex;
    margin-top: 50px;
  }

  .hiddenWord{
    margin-top: 20px;
    font-size: 38px
  }

  .letterText{
    margin-top: 30px;
    font-size: 1.25rem;
  }


  .letterInput{
    margin-top: -10px;
    margin-bottom: 2rem;}


    #evaluateButton{
        margin-top: 35px
    }

    #reiniciar {
        margin-top: 4rem
    }
  


  
  

/* Media Queries */
@media screen and (max-width: 1425px){
    .contenedorPrincipal{
        height: 115vh;

    }
    .contenedorSecundario{
        width: 80%;
    }
    .nav-item{
        margin-left: 20px;
    }
}
@media screen and (max-width: 1000px){
    .navbar-collapse{
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 768px){
    .contenedorPrincipal{
        height: 110%;
        padding: 20px 0;
    }
    .contenedorSecundario{
        height: 60%;
        padding: 15px;
        height: auto;
    }


    .contenedorJuego {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        padding: 0;
      }

      .imageToGuessContainer, .ahorcadoContainer {
        margin-right: 0;
        margin-bottom: 20px; /* Añade espacio entre los elementos en modo columna */
      }
        .imageToGuessContainer, .ahorcadoContainer {
            margin-right: 0;
            margin-bottom: 20px; /* Añade espacio entre los elementos en modo columna */
          }
    
}
@media screen and (max-width: 425px){
    #contenedorPrincipal{
        height: 110vh;
    
    
    }
    
    .contenedorSecundario{
        width: 90%;
    }
    .contenedorTexto ul{
        padding-left: 5px;
    }	
    #reiniciar{
        margin-bottom: 30;
        margin-top:15px

    }
}
